#custom-diagram-list-container {
    position: absolute;
    display:flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    padding: 10px;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: var(--element-color);
    font-size: var(--font-size);
    border: var(--element-border);
    max-height: 80%;
    max-width: 50%;
    z-index: 2;
}

#diagram-list-button-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

#custom-diagram-list-container div {
    padding: 10px;
}

#custom-diagram-list{
    overflow: auto;
}
#custom-diagram-list div{
    display: flex;
    justify-content: space-around;
}


.custom-diagram-list-row {
    display: flex;
    width: 100%;
    cursor: pointer;
}
.custom-diagram-list-row div{
    width: 50%;
}

.custom-diagram-list-row:hover {
    background-color: lightgray;
}