#custom-diagram-list-container {
    display:flex;
    flex-direction: column;
    width: auto;
    max-height: 80%;
    max-width: 50%;
}

#diagram-list-button-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

#custom-diagram-list{
    overflow-y: auto;
}

#custom-diagram-list div{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}


.custom-diagram-list-row {
    display: flex;
    width: 100%;
    cursor: pointer;
}
.custom-diagram-list-row div{
    width: 50%;
}

.custom-diagram-list-row:hover {
    background-color: lightgray;
}