@import "../node_modules/bpmn-js/dist/assets/diagram-js.css";
@import "../node_modules/bpmn-js/dist/assets/bpmn-font/css/bpmn.css";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: gainsboro;
}

pre {
    margin: 0
}

#app {
    position: relative;
}

#app, #canvas {
    height: 100%;
}

.has-errors #error-placeholder {
    position: absolute;
    top: 0;
    height: auto;
    width: auto;
    margin: 0 50%;
    padding: 10px;
    transform: translateX(-50%);
    background-color: tomato;
    color: white;
    z-index: 1;
    text-align: center;
}

#custom-control-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

#custom-control-group button {
    background-color: #FAFAFA;
    outline: none;
    border: solid 1px #ccc;
    padding: 5px;
    font-size: 1em;
}